body {	
	font: 62.5% "Trebuchet MS", sans-serif;
    color: #ffffff;
    background-color: #373737;
}

h2{
    font-size: 18px;
    margin: 0;
    color: #f6931f;
 }

h3{
    font-size: 15px;
    color: #646464;
}

.button {
	width: 185px;
    color: #f6931f;
    margin-left:10px;
}

.button:hover {
    color: #fff;
    background-color: #f6931f !important;
}

#controls {
	padding-right: 5px;
	float: left;
	width: auto;
	height: auto;
	overflow:hidden;
}

#context {
	float: left;
	width: 70%;
	height: 660px;
    margin-left: 5px;
	background-image:url('old_mathematics.png');
}

#amount{
    width: 30px;
    margin-left: 35px;
    text-align: center;
    background-color: #ffffff;
}

#cpSlider{
    width: 180px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 12px;
}

.uploadFile{
    width: 50%;
    display: inline-block;
    padding-bottom: 5px;
}

.model-settings p {
    font-size: 11px;
}

#select-model{
    margin: 0 0 30px 10px;
}

#obj-select{
    width: 188px;
    height: 25px;
}

.title-lattice{
    margin-top: 220px;
}

#cp-setting{
    margin: 10px 0;
}

#accordion{
    padding: 0 !important;
    width: 352px;
}

#3D{
   background-color: #cccccc !important;
}

#colorpickerHolder{
    display: block;
    margin-bottom:10px;
}